SHOP=your-shop.myshopify.com
ADMIN_TOKEN=
RUNTIME_URL=https://your.runtime.url
DISCOUNT_CODE=GHOST15-R3
DISCOUNT_PCT=15
DISCOUNT_EXPIRES=2026-05-18T23:59:59Z
LIMIT_TO_REPEAT_CUSTOMERS=false
PREFER_GRAPHQL=true
